<br /><br />
<h1>Preguntas a Responder</h1>
<br />
<div class="row">
    <div class="col-4">
        <h3>¿Qué hace la función phpinfo()? Describe y discute 3 datos que llamen tu atención.</h3>
        <p>phpinfo regresa tablas con información sobre la configuración actual de PHP. Creo que da información que puede ser muy útil, como lo es el sistema operativo que se está utilizando, la versión de JSON, una lista de directivas que se pueden utilizar.</p>
    </div>
    <div class="col-4">
        <h3>¿Qué cambios tendrías que hacer en la configuración del servidor para que pudiera ser apto en un ambiente de producción?</h3>
        <p>Se tiene que configurar para el servidor específico en el que se va a tener en producción, ya que no suele ser el mismo que se utiliza en el desarrollo.</p>
    </div>
    <div class="col-4">
        <h3>¿Cómo es que si el código está en un archivo con código html que se despliega del lado del cliente, se ejecuta del lado del servidor? Explica.</h3>
        <p>PHP es Pre-procesamiento, por lo que el código se ejecuta del lado del servidor, antes de envíar una respuesta al cliente con el código html.</p>
    </div>
</div>